<h1>About me</h1>
<p>I am a web developer. I like to face real-world problems as I am working as a working student full-stack developer. </p>
<h2>My way in programming</h2>
<p>When I was in school we had Pascal lessons. For what we learnt there it was very simple programming language, that in my opinion could not be used for any serious project.
  
  Then I started pursuing my Computer Science bachelor course and I learnt C and later C++. And now I started to feel the real power of programming.
  But there were many pain points for me, as starting using OOP, pointers and a lot of boiler plate code. That lead me to pursuing C# web course, after which
  I was able to start my internship and get to know this language better. First it was desktop development with relatively old tools now (WPF, .NET Framework, Entity Famework),
  then almost year and a half ago I switched to developing back-end also with C# and the latest set of tools (.NET Core 2, Entity Core, ASP.NET).
  
  While strating to love programming my interest to graphs were growing. And as I saw later not only my interest, but a lot of other people in the web.
  For example, I've been using OrientDB which supports graph data bases <span class="dot"></span>
</p>
<h2> My specialization </h2>
C# (ASP.NET Core, .NET Framework/Core, Entity Framework Core): <span class="dot"></span> <span class="dot"></span> <span class="dot"></span>
Angular (Material, RxJS): <span class="dot"></span><span class="dot"></span><span class="dot"></span>
OrientDb: <span class="dot-yellow"></span> <span class="dot-yellow"></span>
R: <span class="dot-yellow"></span> <span class="dot-yellow"></span>
Python: <span class="dot-orange"></span>
Node.JS: <span class="dot-orange"></span>
Docker: <span class="dot-orange"></span>
React: <span class="dot-orange"></span>
<app-collapsing-tree></app-collapsing-tree>